@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* === Modal Animation Classes === */
  .modal-enter {
    opacity: 0;
    transform: scale(0.95);
  }

  .modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms ease;
  }

  .modal-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: all 300ms ease;
  }  

  .squeeze-button {
    padding: 0.5rem 1.5rem;
    transition: padding 0.3s ease-in-out;
  }
  .squeeze-button:hover {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}